<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AlisonAutomationSuite"
       parallel="false">

    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="AlisonUserJourney">

        <classes>

            <class name="tests.AlisonUserJourneyTest"/>

        </classes>

    </test>

</suite>